POSTGRES_USER=mdirector
POSTGRES_PASSWORD=..
POSTGRES_DB=mdirector
DATABASE_URL=postgresql+psycopg://mdirector:....@db:5432/mdirector
JWT_SECRET=..
JWT_EXPIRE_MINUTES=480
MDIRECTOR_USER=..
MDIRECTOR_SECRET=..